<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.relation.dao.mapper.NodeMapper">
    <insert id="insert">
        INSERT INTO T_NODE (ID, NUMBER, DESCRIPTION) VALUES(#{id}, #{number}, #{description})
    </insert>
    <select id="list" resultType="zy.relation.dao.entity.Node">
        select id,  number, description from T_NODE
    </select>
</mapper>